<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Процессоры</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleCPU_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Процессоры</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Процессор </strong>- (сокращенно ЦП – центральный процессор или международное CPU) – это главный вычислительный элемент в компьютере. Фактически он является сердцем компьютера. На нем лежит вся работа по обработке данных. Остановилось сердце – умер компьютер. Работа процессора, в некоторой степени, действительно напоминает работу сердца, т.к. он работает под управлением электронных импульсов, так называемых тактов. Тактовая частота – это важнейшая характеристика процессора, она измеряется в гигагерцах (Ггц). От нее зависит скорость и производительность вашего ПК. Выше тактовая частота, значит быстрее скорость вычислений. Современные процессоры выполняют несколько миллионов операций в секунду.   
            </p><br>
            <div class="main_image">
                <img th:src="@{/imgs/CPU_Intel_.jpg}" />
                <img th:src="@{/imgs/157420_protsessor_amd_ryzen_3_2200g_oem.jpg}"/>
            </div><br>
            <p>
                Физически процессор представляет собой металлическую пластинку со множеством ножек (выводов), устанавливаемую в так называемый сокет (разъем) материнской платы. Внутри пластины находится кристалл полупроводника, содержащий до 2 млрд. логических элементов — транзисторов. Их размер настолько мал, что они умещаются на кристалле площадью 4-6 см<sup>2</sup>.
            </p><br>
            <p>
                Основными производителями процессоров являются конкурирующие друг с другом компании <a class="link_in_the_text" href="https://intel.com" target="_blank">Intel</a> и <a class="link_in_the_text" href="https://www.amd.com" target="_blank">AMD</a>. Независимо от производителя процессор обладает характеристиками, от которых зависит его быстродействие.
            </p><br>
            <p>
                Процессор обладает целым рядом характеристик, но мы рассмотрим самые главные, которые нужно знать компьютерному чайнику. Как правило, их указывают в характеристиках компьютера в магазине.
            </p><br>
            <p>
                <strong>Тактовая частота. </strong>Один из самых главный параметров процессора, обозначающий количество тактов в секунду и в зависимости от модели процессора может доходить до 3Ггц и выше.
            </p><br>
            <p>
                <strong>Количество ядер. </strong>Ядро – это главный вычислительный модуль процессора. Современные процессоры заключают в одном корпусе от 2 до 8 вычислительных ядер. Такой подход позволяет увеличить производительность ЦП, за счет распределения обработки данных по ядрам. Для простоты понимания можно сказать,что в одном корпусе размещены несколько процессоров.
            </p><br>
            <p>
                Выбирая компьютер для покупки, сразу определитесь, для чего он вам нужен. Если только для офисных задач и интернета, то покупайте компьютер с двухъядерным процессором. Для игр, обработки видео и трехмерной графики или для работы лучше будет компьютер с 4 или 6 ядрами.
            </p>
        </div><br>
        <div class="real_processors">
            <h1>Примеры реальных процессоров</h1><br>
            <ul class="list_of_processors">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>