<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Охлаждение</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleFAN_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" /></head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Охлаждение</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Система охлаждения компьютера</strong> — набор средств для отвода тепла от нагревающихся в процессе работы компьютерных компонентов.
            </p>
            <p>
                Для стационарных ПК существует два основных типа охлаждения: воздушный и водяной.
            </p><br>
            <p>
                <strong>Воздушное охлаждение</strong> может быть как и с помощью обычных кулеров, так и при помощи полноценных башенных радиаторов (которые состоят из радиатора на тепловыделяющей детали и вентилятора, который обдувает этот радиатор — здесь существует множество вариантов и конфигураций.)
            </p>
            <p>
                <strong>Водяное охлаждение</strong> работает по похожему принципу с башенными кулерами. Отличие в том, что здесь охлаждение происходит не в едином с радиатором контуре, а благодаря переносу охлаждающей жидкости по системе охлаждения от теплосъемника к отдельному радиатору, который обдувают вентиляторы. Большинство таких систем состоят из блока водяного охлаждения, двух шлангов, радиатора и нескольких вентиляторов.
            </p>
        </div><br>
        <div class="real_fan">
            <h1>Примеры реальных систем охлаждения</h1><br>
            <ul class="list_of_fan">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>