<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видеокарты</title>
    <link rel="stylesheet" href="../../../static/css/TheSecondVersionCSS_PastСourseWork/ComponentsPagesCSS/StyleGPU_page.css">
    <link rel="icon" href="../../../static/imgs/Icons/icon-processor.png">
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="../../index.html" class="header__logo">
                    <img src="../../../static/imgs/Logo.png" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a href="../../../../static/css/MainPage/MainPage.html" class="header__link">Главная</a></li>
                        <li><a href="../brands.html" class="header__link">Бренды</a></li>
                        <li><a href="../selectionOfComponents.html" class="header__link">Подбор комплектующих</a></li>
                        <li><a href="../about_site.html" class="header__link">О САЙТЕ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Видеокарты</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Видеокарта</strong> – это компонент материнской платы, отвечающий за обработку видеоданных и вывод на монитор изображения. Можно встретить названия: видеоадаптер, графическая плата, графическая карта, графический адаптер или на компьютерном сленге – «видяха». Есть два вида видеокарт – встроенные и внешние.
            </p><br>
            <h3>Встроенные видеокарты</h3>
            <p>
                Встроенные видеокарты являются неотъемлемой частью современной материнской платы, поэтому они получили название – интегрированные. В характеристиках компьютера встроенный видеоадаптер могут обозначать как on board (с англ. «на плате»).
            </p>
            <p>
                Для своей работы, интегрированная видеокарта забирает часть общих ресурсов компьютера. Из-за этого, производительность, как самой видеокарты, так и компьютера будет ниже, чем у компьютера с внешним видеоадаптером. Разъем(ы) для подключения монитора расположен непосредственно на материнской плате и выходит на заднюю панель системного блока. Интегрированная видеокарта применяется, как правило, в недорогих компьютерах, предназначенных для офисных задач. Для работы в профессиональных программах обработки видео, 3D моделирования, а также для современных трехмерных игр с высокой детализацией понадобиться внешняя видеокарта.
            </p><br>
            <h3>Внешняя видеокарта</h3>
            <p>
                Внешняя видеокарта для обработки видеоданных использует свои ресурсы, т.к. имеет собственный процессор (графический процессор – GPU) и оперативную память. Она является съемной и располагается на материнской плате в специальном разъеме – слоте, что позволяет легко ее заменить в случае выхода из строя или для замены на более производительную.
            </p>
            <p>
                Внешняя видеокарта намного производительней встроенной, из-за чего ее графический процессор выделяет много тепла. Во избежание перегрева и выхода из строя, все современные внешние видеокарты имеют систему охлаждения в виде вентилятора, установленного на графический процессор.
            </p>
            <p>
                Внешняя видеокарта имеет несколько разъемов для монитора или других видеоустройств, которые отличаются интерфейсом подключения. При установленном видеоадаптере они выходят на заднюю панель системного блока.
            </p><br>
            <h3>Основные характеристики видеокарт</h3>
            <p>
                Для компьютерного чайника интерес представляют несколько основных характеристик.
            </p>
            <p>
                <strong>Объем видеопамяти.</strong> Измеряется в мегабайтах (Мб) или гигабайтах (Гб). Современные видеокарты имеют объем от 1 Гб. Если компьютер приобретается для игр, то видеокарту должна быть от 2 Гб и выше. В случае офисного применения достаточно до 1 Гб.
            </p>
            <p>
                <strong>Тип видеопамяти.</strong> В видеокартах используется несколько типов памяти – DDR3, DDR5 или GDDR6, которые отличаются быстродействием. Чтобы было проще для начинающего пользователя, чем больше цифра после DDR, тем больше производительность памяти, но и стоит она дороже.
            </p>
            <p>
                <strong>Разъемы для подключения монитора и видеоустройств.</strong> Немаловажный факт при выборе видеокарты. На современной внешней видеокарте должны присутствовать несколько разъемов подключения.
            </p>
            <p>
                Лучше всего, для подключения монитора использовать цифровые интерфейсы (DVI, HDMI, DisplayPort), ввиду того, что аналоговый VGA более подвержен помехам и качество выдаваемого изображения у него хуже, чем у цифровых.
            </p>
        </div><br>
        <div class="real_gpu">
            <h1>Примеры реальных видеокарты</h1><br>
            <ul class="list_of_gru">
                <li class="NVidia">
                    <h2>Gigabyte GeForce RTX 2060 D6 6G</h2><br>
                    <div class="inf">
                        <a class="gpu_img" href="https://www.e-katalog.ru/GIGABYTE-GEFORCE-RTX-2060-D6-6G.htm" target="_blank">
                            <img src="../../../static/imgs/Видоекарты/Gygabyte_rtx2060.jpg" height="283" width="500">
                        </a>
                        <div class="specifications">
                            <p>Модель GPU: NVIDIA GeForce RTX 2060</p>
                            <p>Объем памяти: 6 ГБ</p>
                            <p>Тип памяти: GDDR6</p><br>
                            <p>Макс. подключаемых мониторов: 4</p>
                            <p>HDMI: 1 шт</p>
                            <p>DisplayPort: 3 шт</p><br>
                            <p>Поддержка VR: +</p>
                        </div>
                    </div>
                </li><br>
                <li class="AMD">
                    <h2>Asus Radeon RX 6900 XT TUF TOP GAMING</h2><br>
                    <div class="inf">
                        <a class="gpu_img" href="https://www.e-katalog.ru/ASUS-RADEON-RX-6900-XT-TUF-TOP-GAMING.htm" target="_blank">
                            <img src="../../../static/imgs/Видоекарты/Asus_rx6900.jpg" height="254" width="500">
                        </a>
                        <div class="specifications">
                            <p>Модель GPU: AMD Radeon RX 6900 XT</p>
                            <p>Объем памяти: 16 ГБ</p>
                            <p>Тип памяти: GDDR6</p><br>
                            <p>Макс. подключаемых мониторов: 4</p>
                            <p>HDMI: 1 шт</p>
                            <p>DisplayPort: 3 шт</p><br>
                            <p>Поддержка VR: +</p>
                        </div>
                    </div>
                </li><br>
                <li class="NVidia">
                    <h2>Asus GeForce RTX 3090 TUF OC</h2><br>
                    <div class="inf">
                        <a class="gpu_img" href="https://www.e-katalog.ru/ASUS-GEFORCE-RTX-3090-TUF-OC.htm" target="_blank">
                            <img src="../../../static/imgs/Видоекарты/Asus_rtx3090.jpg" height="250" width="500">
                        </a>
                        <div class="specifications">
                            <p>Модель GPU: NVIDIA GeForce RTX 3090</p>
                            <p>Объем памяти: 24 ГБ</p>
                            <p>Тип памяти: GDDR6X</p><br>
                            <p>Макс. подключаемых мониторов: 5</p>
                            <p>HDMI: 2 шт</p>
                            <p>DisplayPort: 3 шт</p><br>
                            <p>Поддержка VR: +</p>
                        </div>
                    </div>
                </li><br>
                <li class="NVidia">
                    <h2>Palit GeForce GTX 1660 Dual</h2><br>
                    <div class="inf">
                        <a class="gpu_img" href="https://www.e-katalog.ru/PALIT-GEFORCE-GTX-1660-DUAL.htm" target="_blank">
                            <img src="../../../static/imgs/Видоекарты/Palit_gtx1660.jpg" height="255" width="500">
                        </a>
                        <div class="specifications">
                            <p>Модель GPU: NVIDIA GeForce GTX 1660</p>
                            <p>Объем памяти: 6 ГБ</p>
                            <p>Тип памяти: GDDR5</p><br>
                            <p>Макс. подключаемых мониторов: 3</p>
                            <p>DVI-D: 1 шт</p>
                            <p>HDMI: 1 шт</p>
                            <p>DisplayPort: 1 шт</p><br>
                            <p>Поддержка VR: +</p>
                        </div>
                    </div>
                </li><br>
                <li class="AMD">
                    <h2>Gigabyte Radeon RX 6600 EAGLE 8G</h2><br>
                    <div class="inf">
                        <a class="gpu_img" href="https://www.e-katalog.ru/GIGABYTE-RADEON-RX-6600-EAGLE-8G.htm" target="_blank">
                            <img src="../../../static/imgs/Видоекарты/Gygabyte_rx6600.jpg" height="213" width="493">
                        </a>
                        <div class="specifications">
                            <p>Модель GPU: AMD Radeon RX 6600</p>
                            <p>Объем памяти: 8 ГБ</p>
                            <p>Тип памяти: GDDR6</p><br>
                            <p>Макс. подключаемых мониторов: 4</p>
                            <p>HDMI: 2 шт</p>
                            <p>DisplayPort: 2 шт</p><br>
                            <p>Поддержка VR: +</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="../../../static/js/script_for_burger_menu.js"></script>
    <script src="../../../static/js/scroll_up_script.js"></script>
</body>
</html>