<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видеокарты</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleGPU_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Видеокарты</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Видеокарта</strong> – это компонент материнской платы, отвечающий за обработку видео-данных и вывод на монитор изображения. Можно встретить названия: видеоадаптер, графическая плата, графическая карта, графический адаптер или на компьютерном сленге – «видяха». Есть два вида видеокарт – встроенные и внешние.
            </p><br>
            <h3>Встроенные видеокарты</h3>
            <p>
                Встроенные видеокарты являются неотъемлемой частью современной материнской платы, поэтому они получили название – интегрированные. В характеристиках компьютера встроенный видеоадаптер могут обозначать как on board (с англ. «на плате»).
            </p>
            <p>
                Для своей работы, интегрированная видеокарта забирает часть общих ресурсов компьютера. Из-за этого, производительность, как самой видеокарты, так и компьютера будет ниже, чем у компьютера с внешним видеоадаптером. Разъем(ы) для подключения монитора расположен непосредственно на материнской плате и выходит на заднюю панель системного блока. Интегрированная видеокарта применяется, как правило, в недорогих компьютерах, предназначенных для офисных задач. Для работы в профессиональных программах обработки видео, 3D моделирования, а также для современных трехмерных игр с высокой детализацией понадобиться внешняя видеокарта.
            </p><br>
            <h3>Внешняя видеокарта</h3>
            <p>
                Внешняя видеокарта для обработки видео-данных использует свои ресурсы, т.к. имеет собственный процессор (графический процессор – GPU) и оперативную память. Она является съемной и располагается на материнской плате в специальном разъеме – слоте, что позволяет легко ее заменить в случае выхода из строя или для замены на более производительную.
            </p>
            <p>
                Внешняя видеокарта намного производительней встроенной, из-за чего ее графический процессор выделяет много тепла. Во избежание перегрева и выхода из строя, все современные внешние видеокарты имеют систему охлаждения в виде вентилятора, установленного на графический процессор.
            </p>
            <p>
                Внешняя видеокарта имеет несколько разъемов для монитора или других видеоустройств, которые отличаются интерфейсом подключения. При установленном видеоадаптере они выходят на заднюю панель системного блока.
            </p><br>
            <h3>Основные характеристики видеокарт</h3>
            <p>
                Для компьютерного чайника интерес представляют несколько основных характеристик.
            </p>
            <p>
                <strong>Объем видеопамяти.</strong> Измеряется в мегабайтах (Мб) или гигабайтах (Гб). Современные видеокарты имеют объем от 1 Гб. Если компьютер приобретается для игр, то видеокарту должна быть от 2 Гб и выше. В случае офисного применения достаточно до 1 Гб.
            </p>
            <p>
                <strong>Тип видеопамяти.</strong> В видеокартах используется несколько типов памяти – DDR3, DDR5 или GDDR6, которые отличаются быстродействием. Чтобы было проще для начинающего пользователя, чем больше цифра после DDR, тем больше производительность памяти, но и стоит она дороже.
            </p>
            <p>
                <strong>Разъемы для подключения монитора и видеоустройств.</strong> Немаловажный факт при выборе видеокарты. На современной внешней видеокарте должны присутствовать несколько разъемов подключения.
            </p>
            <p>
                Лучше всего, для подключения монитора использовать цифровые интерфейсы (DVI, HDMI, DisplayPort), ввиду того, что аналоговый VGA более подвержен помехам и качество выдаваемого изображения у него хуже, чем у цифровых.
            </p>
        </div><br>
        <div class="real_gpu">
            <h1>Примеры реальных видеокарты</h1><br>
            <ul class="list_of_gru">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>