<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Жёсткие диски</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleHDD_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" /></head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/}" class="header__link">Главная</a></li>
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Жесткие диски</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Жесткий диск</strong> компьютера является местом для длительного хранения информации. В характеристиках компьютера обозначают как HDD (англ. Hard Disk Drive). На компьютерном сленге его называют «винчестером» или «винтом». Еще можно услышать название «хард». Название «винчестер» он получил по аналогии с популярным карабином Winchester, в котором использовался патрон «30-30 винчестер». Первый жесткий диск для персонального компьютера был размечен на 30 дорожек, каждая из которых имела 30 секторов, отсюда и пошло название «винчестер». Жесткий диск – это энергонезависимый компонент в компьютере, т.е. при отключении питания записанные (сохраненные) данные не стираются.
            </p><br>
            <h3>Устройство жесткого диска.</h3>
            <p>
                Данные сохраняются на одной или нескольких алюминиевых, или стеклянных круглых пластинах (дисках), покрытых магнитным слоем. Диск(и) находятся на шпинделе и вращаются с большой скоростью, а блок подвижных магнитных головок считывает или записывает данные на поверхность пластин.
            </p>
            <p>
                Диск(и) с блоком головок заключены в металлический корпус для защиты от пыли и механических воздействий. На корпусе находится электронная плата, которая управляет работой винчестера – так называемый контроллер. Все это устройство представляет единый блок, который располагается в специально отведенном для него месте «системника» и подключенный к материнской плате специальным кабелем.
            </p><br>
            <h3>Основные характеристики жесткого диска.</h3>
            <p>
                <strong>Объем HDD.</strong> Наверное, самая важная характеристика, которая определяет максимально возможный объем для хранения информации. Обозначается в гигабайтах (Гб) и терабайтах (Тб). Современные жесткие диски имеют объем от 320 Гб и до 14 Тб.
            </p>
            <p>
                Как начинающему пользователю определиться, какой объем HDD ему нужен? При выборе компьютера следует исходить из ваших потребностей. Если только для офисного применения (набор текстов, печать, интернет, хранение и обработка фото…), то достаточно жесткого диска объемом 320-500 Гб. Для игр, просмотра фильмов, прослушивания музыки нужен больший объем — от 500 Гб и до максимума. Фильм в формате Blu-Ray может занять до 45 Гб, а современные игры становятся все более прожорливыми, например GTA 5 требует 65 Гб места на диске.
            </p>
            <p>
                <strong>Скорость вращения.</strong> Еще одна важная характеристика, влияющая на производительность жесткого диска. Чем быстрее вращаются пластины, тем быстрее доступ и запись данных на них. Скорость вращения измеряется в оборотах в минуту (об/м или rpm от англ. rotate per minute). Для применения в персональных компьютеров производятся жесткие диски с 5400 об/м и 7200 об/м. Жесткие диски, имеющие скорость вращения 7200 об/м предпочтительней, но их стоимость дороже и шумнее чем диски с 5400 об/м.
            </p>
            <p>
                <strong>Размер кэша или кэш память.</strong> Кэш жесткого диска – особый вид оперативной памяти (буферной памяти), в которой хранятся часто используемые данные. За счет того, что данные берутся из электронного кэша с высоким быстродействием, а не из относительно медленного механического носителя, то производительность HDD вырастает. Чем больше размер кэша, тем меньше обращений к диску. Размер буферной памяти измеряется в мегабайтах и в современных жестких дисках составляет 16-128 Мб.
            </p>
            <p>
                Все вышеперечисленные характеристики указываются в прайс-листах компьютеров в магазине, и теперь вы легко сможете сориентироваться при выборе.
            </p>
        </div><br>
        <div class="real_hdd">
            <h1>Примеры реальных жестких дисков</h1><br>
            <ul class="list_of_hdd">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>