<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Материнские платы</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleMotherboard_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/}" class="header__link">Главная</a></li>
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Материнские платы</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Материнская плата</strong> — сложная многослойная печатная плата, являющаяся основой построения вычислительной системы (компьютера).
            </p>
            <p>
                Материнская плата управляет работой всех остальных компонентов, которые расположены непосредственно на ней или подключены с помощью специальных разъемов. От нее зависит общая производительность компьютера и возможность ее увеличения, путем добавления в «материнку» дополнительных плат расширения (их еще называют «карты») или замены их на более производительные. Материнская плата закреплена в системном блоке компьютера на специальном металлическом шасси. Рассмотрим лишь основные аспекты, чтобы дать общие понятия для начинающего пользователя компьютера.
            </p><br>
            <h3>Элементы материнской платы</h3>
            <p>
                Основными элементами материнской платы являются:
                <ul>
                    <li>сокет (разъем) для установки процессора;</li>
                    <li>слоты (разъемы) для установки карты памяти;</li>
                    <li>слоты для размещения дополнительных карт расширения;</li>
                    <li>набор микросхем (чипсет), ответственный за обмен данных между компонентами компьютера;</li>
                    <li>слот для размещения видеокарты</li>
                    <li>микросхема памяти BIOS, в которой хранятся начальные настройки компьютера и программа самотестирования;</li>
                    <li>разъемы для подключения жесткого диска (винчестера), кард-ридера или дисковода для дискет (устаревшее);</li>
                    <li>разъем для подключения блока питания;</li>
                    <li>разъемы для подключения внешних устройств (монитор, мышь, клавиатура и т.д.), которые выходят на заднюю панель системного блока.</li>
                </ul>
            </p><br>
            <h3>Форм-фактор материнской платы</h3>
            <p>
                Форм-фактор материнской платы – стандарт, который определяет размер материнской платы, расположение и количество разъемов на ней.
            </p>
            <p>
                Самые большое распространение получили форм-факторы – ATX (Advanced Technology eXtended) и micro-ATX.
            </p>
            <p>
                Форм-фактор ATX имеет размеры 305х244 мм. Плата такого формата имеет большее количество слотов для плат расширения, и больше возможностей для увеличения производительности и функциональности.
            </p>
            <p>
                Форм-фактор micro-ATX имеет размеры 244х244 мм. Отличается от ATX размерами и меньшим количеством слотов для дополнительных плат. Ее цена дешевле, но и возможностей для расширения меньше, хотя ее производительность ничуть не меньше ATX.
            </p>
            <p>
                При выборе компьютера, лучше покупать с материнской платой ATX, но он будет стоит чуть подороже, чем с «материнкой» micro-ATX. В характеристиках компьютера (или на ценниках) форм-фактор указывается как MB ATX или MB micro-ATX. MB – сокращенное от англ. MotherBoard.
            </p>
        </div><br>
        <div class="real_motherboards">
            <h1>Примеры реальных материнских плат</h1><br>
            <ul class="list_of_motherboard">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>