<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Материнские платы</title>
    <link rel="stylesheet" href="../../../static/css/TheSecondVersionCSS_PastСourseWork/ComponentsPagesCSS/StyleMotherboard_page.css">
    <link rel="icon" href="../../../static/imgs/Icons/icon-processor.png">
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="../../index.html" class="header__logo">
                    <img src="../../../static/imgs/Logo.png" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a href="../../../../static/css/MainPage/MainPage.html" class="header__link">Главная</a></li>
                        <li><a href="../brands.html" class="header__link">Бренды</a></li>
                        <li><a href="../selectionOfComponents.html" class="header__link">Подбор комплектующих</a></li>
                        <li><a href="../about_site.html" class="header__link">О САЙТЕ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Материнские платы</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Материнская плата</strong> — сложная многослойная печатная плата, являющаяся основой построения вычислительной системы (компьютера).
            </p>
            <p>
                Материнская плата управляет работой всех остальных компонентов, которые расположены непосредственно на ней или подключены с помощью специальных разъемов. От нее зависит общая производительность компьютера и возможность ее увеличения, путем добавления в «материнку» дополнительных плат расширения (их еще называют «карты») или замены их на более производительные. Материнская плата закреплена в системном блоке компьютера на специальном металлическом шасси. Рассмотрим лишь основные аспекты, чтобы дать общие понятия для начинающего пользователя компьютера.
            </p><br>
            <h3>Элементы материнской платы</h3>
            <p>
                Основными элементами материнской платы являются:
                <ul>
                    <li>сокет (разъем) для установки процессора;</li>
                    <li>слоты (разъемы) для установки карты памяти;</li>
                    <li>слоты для размещения дополнительных карт расширения;</li>
                    <li>набор микросхем (чипсет), ответственный за обмен данных между компонентами компьютера;</li>
                    <li>слот для размещения видеокарты</li>
                    <li>микросхема памяти BIOS, в которой хранятся начальные настройки компьютера и программа самотестирования;</li>
                    <li>разъемы для подключения жесткого диска (винчестера), кард-ридера или дисковода для дискет (устаревшее);</li>
                    <li>разъем для подключения блока питания;</li>
                    <li>разъемы для подключения внешних устройств (монитор, мышь, клавиатура и т.д.), которые выходят на заднюю панель системного блока.</li>
                </ul>
            </p><br>
            <h3>Форм-фактор материнской платы</h3>
            <p>
                Форм-фактор материнской платы – стандарт, который определяет размер материнской платы, расположение и количество разъемов на ней.
            </p>
            <p>
                Самые большое распространение получили форм-факторы – ATX (Advanced Technology eXtended) и micro-ATX.
            </p>
            <p>
                Форм-фактор ATX имеет размеры 305х244 мм. Плата такого формата имеет большее количество слотов для плат расширения, и больше возможностей для увеличения производительности и функциональности.
            </p>
            <p>
                Форм-фактор micro-ATX имеет размеры 244х244 мм. Отличается от ATX размерами и меньшим количеством слотов для дополнительных плат. Ее цена дешевле, но и возможностей для расширения меньше, хотя ее производительность ничуть не меньше ATX.
            </p>
            <p>
                При выборе компьютера, лучше покупать с материнской платой ATX, но он будет стоит чуть подороже, чем с «материнкой» micro-ATX. В характеристиках компьютера (или на ценниках) форм-фактор указывается как MB ATX или MB micro-ATX. MB – сокращенное от англ. MotherBoard.
            </p>
        </div><br>
        <div class="real_motherboards">
            <h1>Примеры реальных материнских плат</h1><br>
            <ul class="list_of_motherboard">
                <li class="Intel">
                    <h2>ASRock B460M Pro4</h2><br>
                    <div class="inf">
                        <div class="motherboard_img">
                            <a href="https://www.e-katalog.ru/ASROCK-B460M-PRO4.htm" target="_blank">
                                <img src="../../../static/imgs/Материнские%20платы/ASRock_Intel.jpg" height="344" width="400">
                            </a>
                        </div>
                        <div class="specifications">
                            <p>Socket: Intel LGA 1200</p>
                            <p>Форм-фактор: micro-ATX</p>
                            <p>Чипсет: Intel B460</p>
                            <p>DDR4: 4 слота(ов)</p>
                            <p>Форм-фактор слота для памяти: DIMM</p>
                            <p>Режим работы: 2-х канальный</p>
                            <p>Максимальная тактовая частота: 2933 МГц</p>
                        </div>
                    </div>
                </li><br>
                <li class="AMD">
                    <h2>Asus TUF GAMING B450-PLUS II</h2><br>
                    <div class="inf">
                        <div class="motherboard_img">
                            <a href="https://www.e-katalog.ru/ASUS-TUF-GAMING-B450-PLUS-II.htm" target="_blank">
                                <img src="../../../static/imgs/Материнские%20платы/ASUS_TUF_AMD.jpg" height="389" width="400">
                            </a>
                        </div>
                        <div class="specifications">
                            <p>Socket: AMD AM4</p>
                            <p>Форм-фактор: ATX</p>
                            <p>Чипсет: AMD B450</p>
                            <p>DDR4: 4 слота(ов)</p>
                            <p>Форм-фактор слота для памяти: DIMM</p>
                            <p>Режим работы: 2-х канальный</p>
                            <p>Максимальная тактовая частота: 4400 МГц</p>
                        </div>
                    </div>
                </li><br>
                <li class="AMD">
                    <h2>Gigabyte B550 AORUS ELITE V2</h2><br>
                    <div class="inf">
                        <div class="motherboard_img">
                            <a href="https://www.e-katalog.ru/GIGABYTE-B550-AORUS-ELITE-V2.htm" target="_blank">
                                <img src="../../../static/imgs/Материнские%20платы/Gigabyte_AORUS_AMD.jpg" height="401" width="400">
                            </a>
                        </div>
                        <div class="specifications">
                            <p>Socket: AMD AM4</p>
                            <p>Форм-фактор: ATX</p>
                            <p>Чипсет: AMD B550</p>
                            <p>DDR4: 4 слота(ов)</p>
                            <p>Форм-фактор слота для памяти: DIMM</p>
                            <p>Режим работы: 2-х канальный</p>
                            <p>Максимальная тактовая частота: 4733 МГц</p>
                        </div>
                    </div>
                </li><br>
                <li class="Intel">
                    <h2>Asus TUF GAMING Z690-PLUS WIFI D4</h2><br>
                    <div class="inf">
                        <div class="motherboard_img">
                            <a href="https://www.e-katalog.ru/ASUS-TUF-GAMING-Z690-PLUS-WIFI-D4.htm" target="_blank">
                                <img src="../../../static/imgs/Материнские%20платы/ASUS_TUF_Intel.jpg" height="396" width="400">
                            </a>
                        </div>
                        <div class="specifications">
                            <p>Socket: Intel LGA 1700</p>
                            <p>Форм-фактор: ATX</p>
                            <p>Чипсет: Intel Z690</p>
                            <p>DDR4: 4 слота(ов)</p>
                            <p>Форм-фактор слота для памяти: DIMM</p>
                            <p>Режим работы: 2-х канальный</p>
                            <p>Максимальная тактовая частота: 5333 МГц</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="../../../static/js/script_for_burger_menu.js"></script>
    <script src="../../../static/js/scroll_up_script.js"></script>
</body>
</html>