<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блоки питания</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StylePSU_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" /></head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Блоки питания</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                Блок питания (БП) компьютера преобразует переменное напряжение сети в постоянный ток разных напряжений (3.3в, 5в, 12в) для питания электронных компонентов ПК, расположенных в системном блоке. Кроме того, компьютерный блок питания сглаживает перепады напряжения и обеспечивает фильтрацию помех, которые всегда присутствуют в сети переменного тока.
            </p>
            <p>
                От качества и характеристик блока питания зависит стабильность работы компьютера. Низкокачественные БП могут вызывать сбои в работе системы или даже быть причиной выхода из строя как самого блока питания, так и компонентов компьютера. Как правило, в готовых системных блоках, продаваемых в компьютерных магазинах, установлены качественные БП, т.к. не в их интересах продавать плохой товар. Установкой дешевых, низкокачественных БП могут грешить недобросовестные сборщики-индивидуалы компьютеров на заказ для снижения цены готового компьютера.
            </p><br>
            <h3>Характеристики компьютерного блока питания</h3>
            <p>
                <ol>
                    <li>
                        <strong>Мощность блока питания.</strong> Измеряется в ваттах (Вт). Современный компьютер, особенно игровой конфигурации, обладает большим энергопотреблением и БП компьютера должен обеспечивать это потребление. Низкая мощность блока питания при высоком энергопотреблении может быть причиной сбоев и произвольных перезагрузок компьютера. В компьютерных магазинах продаются сбалансированные системы, но такая ситуация может возникнуть при модернизации компьютера, например, при установке более мощной видеокарты или процессора, подключении дополнительных плат расширения (и) или жестких дисков. Т.е. энергопотребление выросло, а мощность блока питания осталась прежней. В этом случае необходимо БП на более мощный. Мощность современных блоков питания составляет 450 Вт и выше.
                    </li>
                    <li>
                        <strong>Производитель блока питания.</strong> Немаловажная характеристика БП. На рынке существует много дешевых блоков питания неизвестных производителей, так называемый ноунейм, которые для удешевления своей продукции экономят на электронных компонентах БП, что неизменно сказывается на качестве – нестабильные напряжения, помехи, перегрев, шумность и т.д. Кроме того, в таких БП зачастую завышают мощность. Например, на наклейке заявлено 500 Вт, а на самом деле блок выдает 400-450 Вт.
                    </li>
                    <li>
                        <strong>Уровень шума.</strong> Блок питания компьютера во время работы нагревается и для его охлаждения в БП устанавливают вентиляторы, прогоняющие через него воздух. Вентиляторы создают шум, уровень которого зависит от размера вентилятора, их количества в БП, алгоритма скорости вращения (увеличение или уменьшение скорости вращения в зависимости от температуры БП). Высококачественные блоки питания обладают низким уровнем шума.
                    </li>
                </ol>
            </p><br>
            <p>
                На основе вышесказанного можно сделать вывод, что на блоке питания не следует экономить и отдавать предпочтение нужно производителям с хорошей репутацией.
            </p><br>
            <p>Ссылка на калькулятор мощностей для БП: <a href="https://www.bequiet.com/ru/psucalculator" target="_blank">bequiet.com/ru/psucalculator</a></p>
        </div><br>
        <div class="real_psu">
            <h1>Примеры реальных блоков питания</h1><br>
            <ul class="list_of_psu">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>