<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оперативная память</title>
    <link rel="stylesheet" href="../../../static/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleRAM_page.css">
    <link rel="icon" href="../../../static/imgs/Icons/icon-processor.png">
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="../../index.html" class="header__logo">
                    <img src="../../../static/imgs/Logo.png" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a href="../../../../static/css/MainPage/MainPage.html" class="header__link">Главная</a></li>
                        <li><a href="../brands.html" class="header__link">Бренды</a></li>
                        <li><a href="../selectionOfComponents.html" class="header__link">Подбор комплектующих</a></li>
                        <li><a href="../about_site.html" class="header__link">О САЙТЕ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Оперативная память</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Оперативная память</strong> (или ОЗУ – оперативное запоминающее устройство) необходима компьютеру для временного хранения данных. В магазине, на табличке с характеристиками компьютера, может указываться как RAM или ОЗУ (от англ. Random Access Memory – память с произвольным доступом).
            </p>
            <p>
                От объема ОЗУ и скорости его работы зависит производительность компьютера. Объем современной оперативной памяти измеряется в гигабайтах (Гб), а скорость в мегагерцах.
            </p>
            <p>
                Физически, память представляет собой плату расширения – модуль ( или планка) памяти, вставляемую в специальный слот на материнской плате. Как правило, на материнской плате имеется от 2 до 4 слотов для памяти, что позволяет легко ее наращивать установкой дополнительных модулей.
            </p><br>
            <h3>Основные характеристики модуля памяти</h3>
            <p>
                <strong>Тип памяти. </strong>Сегодня, практически во всех современных компьютерах используется тип памяти DDR4. На устаревших компьютерах еще можно встретить DDR2 и DDR3. Модуль памяти DDR4 производительней DDR3 за счет увеличения частоты работы и применения более эффективных технологических решений. Компьютерные технологии быстро развиваются, и на смену DDR4 постепенно приходят модули DDR5, имеющие большую производительность.
            </p>
            <p>
                <strong>Объем модуля памяти. </strong>Один модуль памяти обычно имеет объем от 4 до 16 Гб. Для работы в офисных программах, просмотра страниц в интернете, нетребовательных игр будет достаточно 4 Гб. Если же компьютер приобретается для современных игр с высоким уровнем детализации, редактирования видео, для работы в ресурсоемких программах, то понадобится от 8 Гб и выше.
            </p>
            <p>
                <strong>Частота памяти. </strong>Измеряется в мегагерцах (МГц) Чем больше частота, тем быстрее память. Модули памяти DDR4 в основном работают на частотах 2133 / 2400 / 2666 / 2933 / 3200 МГц.
            </p>
        </div><br>
        <div class="real_ram">
            <h1>Примеры реальных плашек ОЗУ</h1><br>
            <ul class="list_of_ram">
                <li>
                    <h2>Crucial Ballistix DDR4 2x8Gb</h2><br>
                    <div class="inf">
                        <a class="RAM_img" href="https://www.e-katalog.ru/CRUCIAL-BL2K8G32C16U4B.htm" target="_blank">
                            <img src="../../../static/imgs/Плашки%20ОЗУ/Crucial_2x8.jpg" height="215px" width="423px">
                        </a>
                        <div class="specifications">
                            <p>Объем памяти комплекта: 16 ГБ</p>
                            <p>Кол-во планок в комплекте: 2 шт</p>
                            <p>Форм-фактор памяти: DIMM</p>
                            <p>Тип памяти: DDR4</p>
                            <p>Тактовая частота: 3200 МГц</p>
                        </div>
                    </div>
                </li><br>
                <li>
                    <h2>Corsair Vengeance RGB Pro DDR4 1x8Gb</h2><br>
                    <div class="inf">
                        <a class="RAM_img" href="https://www.e-katalog.ru/CORSAIR-CM4X8GD3200C16W4.htm" target="_blank">
                            <img src="../../../static/imgs/Плашки%20ОЗУ/Corsair_1x8.jpg" height="163px" width="423px">
                        </a>
                        <div class="specifications">
                            <p>Объем памяти комплекта: 8 ГБ</p>
                            <p>Кол-во планок в комплекте: 1 шт</p>
                            <p>Форм-фактор памяти: DIMM</p>
                            <p>Тип памяти: DDR4</p>
                            <p>Тактовая частота: 3200 МГц</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="../../../static/js/script_for_burger_menu.js"></script>
    <script src="../../../static/js/scroll_up_script.js"></script>
</body>
</html>