<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оперативная память</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleRAM_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Оперативная память</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Оперативная память</strong> (или ОЗУ – оперативное запоминающее устройство) необходима компьютеру для временного хранения данных. В магазине, на табличке с характеристиками компьютера, может указываться как RAM или ОЗУ (от англ. Random Access Memory – память с произвольным доступом).
            </p>
            <p>
                От объема ОЗУ и скорости его работы зависит производительность компьютера. Объем современной оперативной памяти измеряется в гигабайтах (Гб), а скорость в мегагерцах.
            </p>
            <p>
                Физически, память представляет собой плату расширения – модуль ( или планка) памяти, вставляемую в специальный слот на материнской плате. Как правило, на материнской плате имеется от 2 до 4 слотов для памяти, что позволяет легко ее наращивать установкой дополнительных модулей.
            </p><br>
            <h3>Основные характеристики модуля памяти</h3>
            <p>
                <strong>Тип памяти. </strong>Сегодня, практически во всех современных компьютерах используется тип памяти DDR4. На устаревших компьютерах еще можно встретить DDR2 и DDR3. Модуль памяти DDR4 производительней DDR3 за счет увеличения частоты работы и применения более эффективных технологических решений. Компьютерные технологии быстро развиваются, и на смену DDR4 постепенно приходят модули DDR5, имеющие большую производительность.
            </p>
            <p>
                <strong>Объем модуля памяти. </strong>Один модуль памяти обычно имеет объем от 4 до 16 Гб. Для работы в офисных программах, просмотра страниц в интернете, нетребовательных игр будет достаточно 4 Гб. Если же компьютер приобретается для современных игр с высоким уровнем детализации, редактирования видео, для работы в ресурсоемких программах, то понадобится от 8 Гб и выше.
            </p>
            <p>
                <strong>Частота памяти. </strong>Измеряется в мегагерцах (МГц) Чем больше частота, тем быстрее память. Модули памяти DDR4 в основном работают на частотах 2133 / 2400 / 2666 / 2933 / 3200 МГц.
            </p>
        </div><br>
        <div class="real_ram">
            <h1>Примеры реальных плашек ОЗУ</h1><br>
            <ul class="list_of_ram">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>