<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твердотельные накопители</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleSSD_page.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li>
                        <li><a href="/login" class="header__link">Личный кабинет</a></li>
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Твердотельные накопители</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Твердотельный накопитель</strong> в компьютерах нужен, как и жесткий диск, для длительного хранения информации. В характеристиках компьютера обозначают как SSD (англ. Solid-State Drive).
            </p>
            <p>
                Главными преимуществами, по сравнению с HDD, являются высокая скорость работы и низкий уровень шума. Основные недостатоки — ограниченное количество циклов перезаписи и высокая цена.
            </p>
            <p>
                На текущий момент, из-за высокой цены, по сравнению с жестким диском, для хранения больших объемов данных используется редко. Как правило, на SSD устанавливают операционную систему для ее быстрой работы и загрузки, а данные хранят на внешнем диске или HDD. Ноутбуки с SSD стоят дорого, а не дорогие варианты, как правило, представляют всего лишь гибрид обычного диска с SSD, который по факту, не является твердотельным накопителем.
            </p><br>
            <h3>Основные характеристики твердотельного накопителя.</h3>
            <p>
                <strong>Объем SSD.</strong> Так же как и у HDD, самая важная характеристика, которая определяет максимально возможный объем для хранения информации. Обозначается в гигабайтах (Гб) и терабайтах (Тб). Современные жесткие диски имеют объем от 250 Гб и до 5 Тб.
            </p>
            <p>
                <strong>Интерфейс.</strong> Это логический интерфейс его подключения к компьютеру в контексте механизма обмена данными с устройствами компьютера. Основные виды интерфейсов: M.2, PCI-E,SAS, SATA, USB.
            </p>
            <p>
                <strong>Форм фактор.</strong> У SSD есть несколько видов форм факторов. Осноные это 2.5, M.2, mSATA, PCI-E AIC
            </p>
        </div><br>
        <div class="real_ssd">
            <h1>Примеры реальных твердотельных накопителей</h1><br>
            <ul class="list_of_ssd">

            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>