<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твердотельные накопители</title>
    <link rel="stylesheet" href="../../../static/css/TheSecondVersionCSS_PastCourseWork/ComponentsPagesCSS/StyleSSD_page.css">
    <link rel="icon" href="../../../static/imgs/Icons/icon-processor.png">
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="../../index.html" class="header__logo">
                    <img src="../../../static/imgs/Logo.png" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a href="../../../../static/css/MainPage/MainPage.html" class="header__link">Главная</a></li>
                        <li><a href="../brands.html" class="header__link">Бренды</a></li>
                        <li><a href="../selectionOfComponents.html" class="header__link">Подбор комплектующих</a></li>
                        <li><a href="../about_site.html" class="header__link">О САЙТЕ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Твердотельные накопители</h1><br>
        </div>
        <div class="theoretical_introduction">
            <p>
                <strong>Твердотельный накопитель</strong> в компьютерах нужен, как и жесткий диск, для длительного хранения информации. В характеристиках компьютера обозначают как SSD (англ. Solid-State Drive).
            </p>
            <p>
                Главными преимуществами, по сравнению с HDD, являются высокая скорость работы и низкий уровень шума. Основные недостатоки — ограниченное количество циклов перезаписи и высокая цена.
            </p>
            <p>
                На текущий момент, из-за высокой цены, по сравнению с жестким диском, для хранения больших объемов данных используется редко. Как правило, на SSD устанавливают операционную систему для ее быстрой работы и загрузки, а данные хранят на внешнем диске или HDD. Ноутбуки с SSD стоят дорого, а не дорогие варианты, как правило, представляют всего лишь гибрид обычного диска с SSD, который по факту, не является твердотельным накопителем.
            </p><br>
            <h3>Основные характеристики твердотельного накопителя.</h3>
            <p>
                <strong>Объем SSD.</strong> Так же как и у HDD, самая важная характеристика, которая определяет максимально возможный объем для хранения информации. Обозначается в гигабайтах (Гб) и терабайтах (Тб). Современные жесткие диски имеют объем от 250 Гб и до 5 Тб.
            </p>
            <p>
                <strong>Интерфейс.</strong> Это логический интерфейс его подключения к компьютеру в контексте механизма обмена данными с устройствами компьютера. Основные виды интерфейсов: M.2, PCI-E,SAS, SATA, USB.
            </p>
            <p>
                <strong>Форм фактор.</strong> У SSD есть несколько видов форм факторов. Осноные это 2.5, M.2, mSATA, PCI-E AIC
            </p>
        </div><br>
        <div class="real_ssd">
            <h1>Примеры реальных твердотельных накопителей</h1><br>
            <ul class="list_of_ssd">
                <li>
                    <h2>Samsung 980 NVMe M.2 MZ-V8V500BW</h2><br>
                    <div class="inf">
                        <div class="ssd_img">
                            <a href="https://www.e-katalog.ru/SAMSUNG-MZ-V8V500BW.htm" target="_blank">
                                <img src="../../../static/imgs/SSD/Samsung_M2.jpg" height="128px" width="460px">
                            </a>
                        </div>
                        <div class="specifications">
                            <p>Объем: 500 ГБ</p>
                            <p>Форм-фактор: M.2</p>
                            <p>Интерфейс M.2: PCI-E 3.0 4x</p>
                            <p>Тип памяти: 3D TLC NAND</p>
                            <p>NVMe: +</p>
                            <p>Внешняя скорость записи: 2600 МБ/с</p>
                            <p>Внешняя скорость считывания: 3100 МБ/с</p>
                            <p>Ударостойкость при работе: 1500 G</p>
                            <p>Наработка на отказ: 1.5 млн. ч</p>
                        </div>
                    </div>
                </li><br>
                <li>
                    <h2>Samsung 870 EVO MZ-77E500</h2><br>
                    <div class="inf">
                        <div class="ssd_img">
                            <a href="https://www.e-katalog.ru/SAMSUNG-MZ-77E500.htm" target="_blank">
                                <img src="../../../static/imgs/SSD/Samsung_2.5.jpg" height="320px" width="460px">
                            </a>
                        </div>
                        <div class="specifications">
                            <p>Объем: 500 ГБ</p>
                            <p>Форм-фактор: 2.5"</p>
                            <p>Разъем: SATA 3</p>
                            <p>Тип памяти: 3D TLC NAND</p>
                            <p>Внешняя скорость записи: 530 МБ/с</p>
                            <p>Внешняя скорость считывания: 560 МБ/с</p>
                            <p>Ударостойкость при работе: 1500 G</p>
                            <p>Наработка на отказ: 1.5 млн. ч</p>
                        </div>
                    </div>
                </li><br>
                <li>
                    <h2>Kingston A400 SA400S37</h2><br>
                    <div class="inf">
                        <div class="ssd_img">
                            <a href="https://www.e-katalog.ru/KINGSTON-SA400S37-480G.htm" target="_blank">
                                <img src="../../../static/imgs/SSD/Kingston_2.5.jpg" height="298px" width="460px">
                            </a>
                        </div>
                        <div class="specifications">
                            <p>Объем: 480 ГБ</p>
                            <p>Форм-фактор: 2.5"</p>
                            <p>Разъем: SATA 3</p>
                            <p>Тип памяти: 3D TLC NAND</p>
                            <p>Внешняя скорость записи: 450 МБ/с</p>
                            <p>Внешняя скорость считывания: 500 МБ/с</p>
                            <p>Ударостойкость при работе: 1500 G</p>
                            <p>Наработка на отказ: 1 млн. ч</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="../../../static/js/script_for_burger_menu.js"></script>
    <script src="../../../static/js/scroll_up_script.js"></script>
</body>
</html>