<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бренды</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/StyleBrands.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                        <div th:if="!${isAuthorized}">
                            <li><a href="/login" class="header__link">Войти в кабинет</a></li>
                        </div>
                        <div th:if="${isAuthorized}">
                            <li><a th:href="@{/account}" class="header__link">Личный кабинет</a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="content">
        <main class="container">
            <div class="name_of_page">
                <h1>Бренды</h1><br>
            </div>
            <div class="explanatory_part">
                <p>На данной странице представлены основные бренды и какие компьютерные комплектующие они прозводят</p>
                <br>
                <ul>
                    <li>Intel, AMD и Nvidia - производители центарльных и графических процессоров</li>
                    <li>ASUS, ASRock, Gygabyte, MSI, Palit - производители материнских плат(кроме Palit) и видеокарт</li>
                    <li>Be quite, FSP, Corsair - производители блоков питания</li>
                    <li>Crucial, Corsair - производители плашек ОЗУ</li>
                    <li>Deepcool и NZXT - производители систем охладения</li>
                    <li>Samsung Kingston - производители твердотельных накопителей(SSD). Помимо этого, Samsung занимается производством чипов памяти для оперативной памяти</li>
                </ul>
            </div>
            <div class="logo_container">
                <a href="https://www.amd.com" class="logo logo_amd" target="_blank">
                    <img th:src="@{/imgs/Logos/AMD_logo.jpg}" />
                </a>
                <a href="https://www.asrock.com/" class="logo logo_asrock" target="_blank">
                    <img th:src="@{/imgs/Logos/ASROCK_logo.jpg}" />
                </a>
                <a href="https://www.asus.com/ru/" class="logo logo_asus" target="_blank">
                    <img th:src="@{/imgs/Logos/Asus_logo.jpg}" />
                </a>
                <a href="https://www.bequiet.com/ru/" class="logo logo_be-quite" target="_blank">
                    <img th:src="@{/imgs/Logos/be-quiet_logo.jpg}" />
                </a>
                <a href="https://www.corsair.com/ru/ru/" class="logo logo_corsair" target="_blank">
                    <img th:src="@{/imgs/Logos/Corsair_logo.png}" />
                </a>
                <a href="https://www.crucial.ru/" class="logo logo_crucial" target="_blank">
                    <img th:src="@{/imgs/Logos/Crucial_logo.jpg}" />
                </a>
                <a href="https://www.deepcool.com/ru/" class="logo logo_deepcool" target="_blank">
                    <img th:src="@{/imgs/Logos/DeepCool_logo.jpg}" />
                </a>
                <a href="https://www.fsp-power.ru/" class="logo logo_fsp" target="_blank">
                    <img th:src="@{/imgs/Logos/FSP.jpg}" />
                </a>
                <a href="https://www.gigabyte.ru/" class="logo logo_gigabyte" target="_blank">
                    <img th:src="@{/imgs/Logos/Gigabyte_logo.jpg}" />
                </a>
                <a href="https://intel.com" class="logo logo_intel" target="_blank">
                    <img th:src="@{/imgs/Logos/Intel_logo.jpg}" />
                </a>
                <a href="https://www.kingston.com/ru" class="logo logo_kingston" target="_blank">
                    <img th:src="@{/imgs/Logos/Kingston_logo.jpg}" />
                </a>
                <a href="https://ru.msi.com/" class="logo logo_msi" target="_blank">
                    <img th:src="@{/imgs/Logos/msi_logo.png}" />
                </a>
                <a href="https://www.nvidia.com/ru-ru/" class="logo logo_nvidia" target="_blank">
                    <img th:src="@{/imgs/Logos/NVidia_logo.jfif}" />
                </a>
                <a href="https://nzxt.com/" class="logo logo_nzxt" target="_blank">
                    <img th:src="@{/imgs/Logos/nzxt_logo.png}" />
                </a>
                <a href="https://eu.palit.com/palit/index.php?lang=ru" class="logo logo_palit" target="_blank">
                    <img th:src="@{/imgs/Logos/palit_logo.jpg}" />
                </a>
                <a href="https://www.samsung.com/ru/" class="logo logo_samsung" target="_blank">
                    <img th:src="@{/imgs/Logos/Samsung_logo.jpg}" />
                </a>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html>