<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подбор комплектующих</title>
    <link rel="stylesheet" href="../../static/css/TheSecondVersionCSS_PastСourseWork/StyleSelectionOfComponents.css">
    <link rel="icon" href="../../static/imgs/Icons/icon-processor.png">
</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="../index.html" class="header__logo">
                    <img src="../../static/imgs/Logo.png" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a href="../../../../static/css/MainPage/MainPage.html" class="header__link">Главная</a></li>
                        <li><a href="brands.html" class="header__link">Бренды</a></li>
                        <li><a href="../Selection_Of_Components/SelectionOfComponents.html" class="header__link">Подбор комплектующих</a></li>
                        <li><a href="about_site.html" class="header__link">О САЙТЕ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="name_of_page">
            <h1>Подбор комплектующих</h1><br>
        </div>
        <div class="introductory_part">
            <p>Подбор комплектующих явлеятся одним из важных этапов в процессе сборки ПК. Так как многие компонентвы зависят друг от друга, и не смогут работать с другими подобными компонентами по разным причинам (от технических до "цифровых"). Например, большинству процессоров нужен определённый сокет на материнской плате. В противном случае процессор либо не сможет правильно встать в сокет (т.к. леибо не подойдет по форме, либо не хватит контактов, либо у материнки старая верся BIOS).</p>
            <p>Для того чтобы избежать подобных случаев есть два варианта развития событий.</p><br>
            <p>Первый - это надо разбираться в жедеза. То есть читать документацию и характеристики коплектующих, а также следить за новостями в данной теме.</p>
            <p>Второй - это взять за основу уже составленый список компютерных комплектующих</p><br>
            <p>На нашем сайте представлены 3 сборки для основных нужд:</p>
            <ol>
                <li>
                    <p><strong>Для офиса</strong> - для этих задач не требуется сильное и производительное железо, так как в основном за такими ПК работают в офисных приложениях, браузерах и в программах для связи (такие как Skype, Zoom, BlueJeans).</p>
                    <p>Пример такой сборки: </p>
                    <ul>
                        <li>Процессор: AMD Ryzen 3 3200G</li>
                        <li>Оперативная память: Crucial 8Gb DDR4 2666</li>
                        <li>Материнская плата: ASRok A320M-HDV R4.0</li>
                        <li>SSD: ADATA Ultimate SU650 240GB</li>
                        <li>HDD: WD Blue 1 TB WD10EZEX</li>
                        <li>Блок питания: Chieftec ELP-400S</li>
                    </ul>
                </li><br>
                <li>
                    <p><strong>Для работы</strong> - под этими ПК подразумеваются те, которые предназначены для работы с профессиональным ПО. Например, для программирования, фото-видое-аудио-обработки, 3D-моделирования и т.п.</p>
                    <p>Пример такой сборки: </p>
                    <ul>
                        <li>Процессор: Intel Core i5-11500 OEM</li>
                        <li>Видоекарта: Asus GeForce GTX 1660 Ti TUF Gaming EVO</li>
                        <li>Оперативная память: Crucial Ballistix DDR4 2x8Gb</li>
                        <li>Материнская плата: ASRock H570M Pro4</li>
                        <li>SSD: Samsung 980 NVMe M.2</li>
                        <li>HDD: WD Blue 1 TB WD10EZEX</li>
                        <li>Блок питания: FSP PNR PRO</li>
                    </ul>
                </li><br>
                <li>
                    <p><strong>Для игр</strong> - на подобных ПК, как уже понятно из названия, в основном используют для компьютерных игр. Чаще всего для подобных задач нужно как минимум хорошо проихводительное железо.</p>
                    <p>Пример такой сборки:</p>
                    <ul>
                        <li>Процессор: AMD Ryzen 5 5600x</li>
                        <li>Видоекарта: Gigabyte Radeon RX 6600 EAGLE 8G</li>
                        <li>Оперативная память: Corsair Vengeance LPX DDR4 2x8Gb</li>
                        <li>Материнская плата: Gygabyte A520M DS3H</li>
                        <li>SSD: A-Data SX6000 Pro M.2</li>
                        <li>HDD: WD Blue 1 TB WD10EZEX</li>
                        <li>Охлаждение: Aerocool Gammaxx 400</li>
                        <li>Блок питания: Corsair STX 700W</li>
                    </ul>
                </li>
            </ol>
        </div><br>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="../../static/js/script_for_burger_menu.js"></script>
    <script src="../../static/js/scroll_up_script.js"></script>
</body>
</html>