<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer World</title>
    <link th:href="@{/css/TheSecondVersionCSS_PastCourseWork/StyleMainPage.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />

</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a th:href="@{/}" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a th:href="@{/brands}" class="header__link">Бренды</a></li>
                        <li><a th:href="@{/selectionOfComponents}" class="header__link">Подбор комплектующих</a></li>
                        <!-- <li><a th:href="@{/about}" class="header__link">О САЙТЕ</a></li> -->
                        <li><a th:href="@{/cart}" class="header__link">Корзина</a></li>
                        <div th:if="!${isAuthorized}">
                            <li><a href="/login" class="header__link">Войти в кабинет</a></li>
                        </div>
                        <div th:if="${isAuthorized}">
                            <li><a th:href="@{/account}" class="header__link">Личный кабинет</a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="types_of_components">
            <div th:if="${isAdmin}">
                <a class="btn" href="/admin"> Страница администратора </a>
            </div>
            <div th:if="${isWorker}">
                <a class="btn" href="/worker"> Страница работника </a>
            </div>
            <h1>Основные комплектующие</h1>
            <br clear="all">
            <div class="list_of_components">
                <a th:href="@{/CPU}" class="partal_cpu_page">
                    <img th:src="@{/imgs/Icons/процесор.png}" />
                </a>
                <a th:href="@{/Motherboard}" class="partal_motherboard_page">
                    <img th:src="@{/imgs/Icons/материнская-плата.png}" />
                </a>
                <a th:href="@{/GPU}" class="partal_gpu_page">
                    <img th:src="@{/imgs/Icons/видеокарта.png}" />
                </a>
                <a th:href="@{/RAM}" class="partal_RAM_page">
                    <img th:src="@{/imgs/Icons/оперативная-память.png}" />
                </a>
                <a th:href="@{/SSD}" class="partal_ssd_page">
                    <img th:src="@{/imgs/Icons/ssd.png}" />
                </a>
                <a th:href="@{/HDD}" class="partal_hdd_page">
                    <img th:src="@{/imgs/Icons/hdd.png}" />
                </a>
                <a th:href="@{/FAN}" class="partal_fan_page">
                    <img th:src="@{/imgs/Icons/кулер.png}" />
                </a>
                <a th:href="@{/PSU}" class="partal_psu_page">
                    <img th:src="@{/imgs/Icons/блок-питания.png}" />
                </a> 
            </div>
        </div><br>
        <div class="main_news_container">
            <h1>Приветcтвуем!</h1><br>
            <p>Добро пожаловать на наш сайт, посвящённый компьютерным комплектующим. Здесь вы сможете узнать об основных компютерных комплектующих. А так же сможете получить базовые знания и в будущем сможете разбираться в компютерном железе и собирать компьютеры.</p>
            <br>
            <h2>Базовые понятия</h2>
            <p>Для начало надо выяснить, какие основные элементы присутствуют в компьютере</p>
            <ul>
                <li><a th:href="@{/CPU}" target="_blank">Процессор</a></li>
                <li><a th:href="@{/Motherboard}" target="_blank">Материнская плата</a></li>
                <li><a th:href="@{/GPU}" target="_blank">Видеокарта</a></li>
                <li><a th:href="@{/RAM}" target="_blank">Плашки оперативной памяти</a></li>
                <li><a th:href="@{/SSD}" target="_blank">Твердотельный накопитель</a></li>
                <li><a th:href="@{/HDD}" target="_blank">Жесткий диск</a></li>
                <li><a th:href="@{/FAN}" target="_blank">Охлаждающая система</a></li>
                <li><a th:href="@{/PSU}" target="_blank">Блок питания</a></li>
            </ul><br>
            <h2>Как собрать ПК</h2>
            <p>В данном видое-уроке Вы сможете имея на руках уже приобретённые комплектующие собрать рабочий ПК</p><br>
            <div class="items">
                <div class="items_container">
                    <div class="items_body">
                        <div class="item">
                            <div class="item_video">
                                <iframe src="https://www.youtube.com/embed/L9ZwCLNAW4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div th:each="product: ${list}" class="prodCart">
                <span class="titleSpan" style="text-decoration : underline" th:text="${product.getType()}"></span>
                <br>
                <span class="titleSpan">Название товара : </span>
                <span class="titleSpan" th:text="${product.getName()}"></span>
                <br>
                <img th:src="@{'/imgs/'+${product.getImageUrl()}}" style="height : 20%; width : 20%">
                <br>
                <span class="titleSpan">Описание товара : </span>
                <br>
                <span class="notTitle" th:text="${product.getDescription()}"></span>
                <br>
                <span class="titleSpan">Количество товара на складе : </span>
                <span th:text="${product.getNumber()}"></span>
                <br>
                <span class="titleSpan">Цена товара : </span>
                <span class="notTitle" th:text="${product.getPrice()}"></span>
                <div th:if="${product.getNumber()} > 0">
                    <span class="notTitle">Есть в наличии</span><br>
                    <form th:method="post" th:action="@{/addToCart/{id} (id = ${product.getId()})}">
                        <input class="btn" type="submit" value="Добавить в корзину">
                    </form>
                </div>
                <div th:if="${product.getNumber()} == 0">
                    <span class="notTitle">Нет в наличии</span><br>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html> 