<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer World</title>
    <link href="../static/css/TheSecondVersionCSS_PastCourseWork/StyleMainPage.css" th:href="@{/css/TheSecondVersionCSS_PastCourseWork/StyleMainPage.css}" rel="stylesheet" />
    <!--<link rel="stylesheet" href="../css/TheSecondVersionCSS_PastCourseWork/StyleMainPage.css">
    <link rel="icon" th:href="@{/imgs/Icons/icon-processor.png}">
    <link rel="shortcut icon" href="imgs/Icons/icon-processor.png" type="image/png">-->

</head>
<body>
    <div class="upward" onclick="scrollTopTop()"></div>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="/" class="header__logo">
                    <img th:src="@{/imgs/Logo.png}" />
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li><a href="/" class="header__link">Главная</a></li>
                        <li><a href="TheSecondVersion_PastCourseWork/brands.html" class="header__link">Бренды</a></li>
                        <li><a href="TheSecondVersion_PastCourseWork/selectionOfComponents.html" class="header__link">Подбор комплектующих</a></li>
                        <li><a href="TheSecondVersion_PastCourseWork/about_site.html" class="header__link">О САЙТЕ</a></li>
                        <li><a href="login.html" class="header__link">Личный кабинет</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="types_of_components">
            <h1>Основные комплектующие</h1>
            <br clear="all">
            <div class="list_of_components">
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/CPU_page.html" class="partal_cpu_page">
                    <img th:src="@{/imgs/Icons/процесор.png}" />
                </a>
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/Motherboard_page.html" class="partal_motherboard_page">
                    <img th:src="@{/imgs/Icons/материнская-плата.png}" />
                </a>
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/GPU_page.html" class="partal_gpu_page">
                    <img th:src="@{/imgs/Icons/видеокарта.png}" />
                </a>
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/RAM_page.html" class="partal_RAM_page">
                    <img th:src="@{/imgs/Icons/оперативная-память.png}" />
                </a>
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/SSD_page.html" class="partal_ssd_page">
                    <img th:src="@{/imgs/Icons/ssd.png}" />
                </a>
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/HDD_page.html" class="partal_hdd_page">
                    <img th:src="@{/imgs/Icons/hdd.png}" />
                </a>
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/FAN_page.html" class="partal_fan_page">
                    <img th:src="@{/imgs/Icons/кулер.png}" />
                </a>
                <a href="TheSecondVersion_PastCourseWork/ComponentsPages/PSU_page.html" class="partal_psu_page">
                    <img th:src="@{/imgs/Icons/блок-питания.png}" />
                </a> 
            </div>
        </div><br>
        <div class="main_news_container">
            <h1>Приветcтвуем!</h1><br>
            <p>Добро пожаловать на наш сайт, посвещённый компютерным комплектующим. Здесь вы сможете узнать об основных компютерных комплектующих. А так же сможете получить базовые знания и в будущем сможете разбираться в компютерном железе и собирать компьютеры.</p>
            <br>
            <h2>Базовые понятия</h2>
            <p>Для начало надо выяснить, какие основные элементы присутствуют в компьютере</p>
            <ul>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/CPU_page.html" target="_blank">Процессор</a></li>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/Motherboard_page.html" target="_blank">Материнская плата</a></li>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/GPU_page.html" target="_blank">Видеокарта</a></li>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/RAM_page.html" target="_blank">Плашки оперативной памяти</a></li>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/SSD_page.html" target="_blank">Твердотельный накопитель</a></li>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/HDD_page.html" target="_blank">Жесткий диск</a></li>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/FAN_page.html" target="_blank">Охлаждающая система</a></li>
                <li><a href="TheSecondVersion_PastCourseWork/ComponentsPages/PSU_page.html" target="_blank">Блок питания</a></li>
            </ul><br>
            <h2>Как собрать ПК</h2>
            <p>В данном видое-уроке Вы сможете имея на руках уже приобретённые комплектующие собрать рабочий ПК</p><br>
            <div class="items">
                <div class="items_container">
                    <div class="items_body">
                        <div class="item">
                            <div class="item_video">
                                <iframe src="https://www.youtube.com/embed/L9ZwCLNAW4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script th:src="@{/js/script_for_burger_menu.js}"></script>
    <script th:src="@{/js/scroll_up_script.js}"></script>
</body>
</html> 