<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Регистрация</title>
    <link th:href="@{/css/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/assets/css/Login-Form-Basic.css}" rel="stylesheet" />
    <link th:href="@{/css/assets/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/imgs/Icons/favicon.ico}" rel="icon" />
</head>

<body>
    <section class="position-relative py-4 py-xl-5">
        <h2 class="text-center mb-4">Enter your data</h2>
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <span style="color: red" th:name="errorAcc"></span>
                            <!-- <form action="/registrationAcc" method="get">
                                <div class="mb-3">
                                    <label><input class="form-control" type="text" id="name-2" name="name" placeholder="Name" th:value="${currenLogin}"/> </label>
                                    <span style="color: red" th:text="${login}"></span>
                                </div>
                                <div class="mb-3">
                                    <label><input class="form-control" type="email" id="email-2" name="email" placeholder="Email" th:value="${currentEmail}/"> </label>
                                    <span style="color: red" th:text="${email}"></span>
                                </div>
                                <div class="mb-3">
                                    <label><input class="form-control" type="email" id="password-2" name="password" placeholder="Password"th:value="${currentPassword}/"> </label>
                                    <span style="color: red" th:text="${password}"></span>
                                </div>
                                <div class="mb-3"></div>
                            </form> -->
                            <form class="text-center" th:action="@{/registrationAcc}" method="get">
                                <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Username"/></div>
                                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"/></div>
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"/></div>
                                <div>
                                    <label class="notTitle">Admin: <input type="checkbox" name="role" value="ADMIN"/></label>
                                </div>
                                <div>
                                    <label class="notTitle">User: <input type="checkbox" name="role" value="USER"/></label>
                                </div>
                                <div></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit"/>Registration</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/css/assets/bootstrap/js/bootstrap.min.js}" />
</body>

</html>