<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="TheSecondVersion_PastCourseWork/Codes/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="TheSecondVersion_PastCourseWork/Codes/assets/css/Login-Form-Basic.css">
    <link rel="stylesheet" href="TheSecondVersion_PastCourseWork/Codes/assets/css/styles.css">
</head>

<body>
    <section class="position-relative py-4 py-xl-5">
        <h2 class="text-center mb-4">Enter your data</h2>
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <span style="color: red" th:name="errorAcc"></span>
                            <form action="/registrationAcc" method="get">
                                <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Name" th:value="${currenLogin}"/>
                                    <span style="color: red" th:text="${login}"></span>
                                </div>
                                <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email" th:value="${currentEmail}/">
                                    <span style="color: red" th:text="${email}"></span>
                                </div>
                                <div class="mb-3"><input class="form-control" type="email" id="password-2" name="password" placeholder="Password"th:value="${currentPassword}/">
                                    <span style="color: red" th:text="${password}"></span>
                                </div>
                                <div class="mb-3"></div>
                                <div><button class="btn btn-primary d-block w-100" type="submit">Sign In</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="TheSecondVersion_PastCourseWork/Codes/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>